# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.pyo
*.pyd
codsoft/Lib/
codsoft/Include/
codsoft/Scripts/

# VSCode
.vscode/
Task2_ImageCaption/

# Environments
venv/
myenvnv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Archives
*.zip
*.tar.gz
*.rar
*.pyc

# Logs and temporary files
*.log
*.tmp
*.swp

#Environment/Config files
*.env
*.cfg