# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# VSCode
.vscode/

# Environments
venv/
myenvnv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Archives
*.zip
*.tar.gz
*.rar

# Logs and temporary files
*.log
*.tmp
*.swp